body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.navbar-brand{
    font-weight: 700;
}

.nav-link.active{
    font-weight: 700;
}
.button-primary{
    width: 133px;
    height: 40px;
    background-color: #414c69;
    border: none;
}
/* About Section */
#about {
    background-color: #f2f2f26c;
    padding: 50px 0;
}
#about img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Product Section */
#products {
    background-color: #f2f2f26c;
    padding: 50px 0;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    text-align: center;
    padding: 15px 0;
    margin: 0;
}

/* sosmed and contact Section */
#contact{
    background-color: #f2f2f26c;
}
.contact img{
    height: 100px;
}


